{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [
    "dist/**/*"
  ],
  "rules": {
    "linebreak-style": "off"
  }
}